/* Default View */
html {
    scroll-behavior: smooth;
}

#nav-link, footer, *{
    color: #362c28;
}
nav{
    margin-bottom: 5%;
    background-color: rgba(243, 201, 105);
}

h1 .i {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
}

a .fa-twitter:hover{
    color: #1DA1F2;
}

a .fa-facebook:hover{
    color: #3b5998;
}

a .fa-instagram:hover{
    animation: instagram;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

h2 {
    padding: 1%;
}

h1 {
    font-weight: bold;
}

section {
    padding: 5%;
}

#about {
    padding-left: 15%;
    padding-right: 15%;
}

#product{
    background-color: #78C2AD;
    color: white;
}

.fa-arrow-up {
    color: white;
}

#product img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
}

#product img {
    display: none;
}
    
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Tablet View */
@media only screen and (min-width: 600px) {
    img {
        height: 180px;
    }

}

/* Desktop View */
@media only screen and (min-width: 800px) {
    img {
        height: 379px;
    }

    #product img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
        display: inline-flex;
    }
}

/* Animations */
@keyframes instagram {
    0%   {color: #405de6;}
    20%  {color:  #5851db;}
    40% {color: #833ab4;}
    60%  {color: #c13584;}
    70% {color: #e1306c}
    100%   {color: #405de6;}
}