#nav-link, footer, *{
    color: #362c28;
}
nav{
    margin-bottom: 5%;
    background-color: rgba(243, 201, 105);
}

.i {
    font-size: .5rem;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
}

a .fa-twitter:hover{
    color: #1DA1F2;
}

a .fa-facebook:hover{
    color: #3b5998;
}

a .fa-instagram:hover{
    opacity: .7;
}

h2 {
    padding: 1%;
}

h1 {
    font-weight: bold;
}

section {
    padding: 5%;
}

#about {
    padding-left: 25%;
    padding-right: 25%;
}

#product{
    background-color: #abcabc;
    opacity: .8;
}

/* Tablet View */
@media only screen and (min-width: 600px) {
    img {
        height: 180px;
    }
}

/* Desktop View */
@media only screen and (min-width: 800px) {
    img {
        height: 379px;
    }
}
